{% extends 'base.html' %}  
{% block title %}Location{% endblock %}

{% block content %}
{% load static %}

    <main>
        <h1><span class="location"></span></h1>
        <div class="homepage_container">
            
            <div class="location_descrtibtion_container">
                <span class="location2"></span>
            </div>
            <div class="map_container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106696.57419308455!2d44.285865209648634!3d33.31180986276546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15577f67a0a74193%3A0x9deda9d2a3b16f2c!2sBagdad%2C%20Irak!5e0!3m2!1sde!2sde!4v1657271783589!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>    


    </main>

{% endblock %}